Source: humans
Section: utils
Priority: optional
Maintainer: Guillermo Robles <guillerobles1995@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Vcs-Git: https://github.com/wynro/humans.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/hello-sh.git

Package: humans
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, coreutils, python, pdfgrep, sqlite3, curl, openssh-client, sed, grep, bsdmainutils
Description: Collects and consults a database of eina's students
 This package allows the easy collection of info from the students of
 Unizar. It also allows one to create a database out of that info, and
 to consult easily that database with a command line interface.
